/.venv
/.vscode
/c
/Captura de tela 2023-07-18 134847.png
/Captura de tela 2023-07-18 224138.png
/dashboard_imersao.py
/desafios.html
/desfios.css
/formulario.html
/hyperlinks.html
/index.html
/js
/lista_de_compra
/nodejs
/projeto
/python
/requirements.txt
/style.css
/table.html